<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{768,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1024}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
            <key>game_message_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1025},{768,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,206}}</string>
                <key>sourceSize</key>
                <string>{768,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images_2.png</string>
            <key>textureFileName</key>
            <string>images_2.png</string>
        </dict>
    </dict>
</plist>